#pas-mini-form {
	  position: relative;
	  display: inline-block;
	  max-width: 465px;
	  width: 100%;
}

#pas-mini-form * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#pas-mini-form .pas-clear:before,
#pas-mini-form .pas-clear:after {
	display: block;
	clear: both;
	content: "";
}

#pas-mini-form a {
	color: #1e7ec8;
	text-decoration: underline;
}

#pas-mini-form a:hover {
	text-decoration: none;
}

#pas-mini-form .pas-nav-left, 
#pas-mini-form .pas-nav-center, 
#pas-mini-form .pas-nav-right {
	position: relative;
	height: 35px;
	line-height: 35px;
	display: inline-block;
}

#pas-mini-form .pas-nav-center {
	display: block;
}


/* Left block */
#pas-mini-form .pas-nav-left {
	float: left;
}

	#pas-mini-form .pas-nav-left .pas-search-facade {
		background-color: #f3f3f3;
		background-image: none;
		border-left: 1px solid #cdcdcd;
		border-top: 1px solid #cdcdcd;
		border-bottom: 1px solid #cdcdcd;
		position: relative;
		float: left;
		height: 35px;
		margin: 0;
		padding-left: 5px;
		overflow: hidden;
	}

	#pas-mini-form .pas-nav-left .pas-search-facade:hover {
		cursor: pointer;
		background-color: #E9E9E9;
	}

	#pas-mini-form .pas-nav-left .pas-search-label {
		display: block;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		color: #777;
		font-size: 11px;
		line-height: 33px;
		margin-right: 21px;
		margin-left: 5px;
	}

	#pas-mini-form .pas-nav-left .pas-search-icon {
		position: absolute;
		top: 14px;
		right: 8px;
		border-style: solid;
		border-width: 4px;
		border-color: transparent;
		border-top: 4px solid #a0a0a0;
		border-bottom-width: 0;
		width: 0;
		height: 0;
		font-size: 0;
		line-height: 0;
	}

	#pas-mini-form .pas-nav-left .pas-search-dropdown {
		position: absolute;
		display: block;
		top: -1px;
		left: 0;
		height: 35px;
		width: auto;
		outline: 0;
		margin: 0;
		padding: 0;
		outline: 0;
		cursor: pointer;
		opacity: 0;
		filter: alpha(opacity=0);
		visibility: visible;
		font-size: 13px;
	}


/* button */
#pas-mini-form .pas-nav-right {
	position: relative;
	float: right;
	width: auto;
	display: inline-block;
}

#pas-mini-form .pas-nav-right .pas-button {
  padding: 0 10px;
  background-color: #3399cc;
  color: #fff;
  border: 0px;
  line-height: 35px;
  font-size: 13px;
  height: 35px;
  float: left;
}

#pas-mini-form .pas-nav-right .pas-button:hover {
  background: #2e8ab8;
  cursor: pointer;
}

/* search input */
#pas-mini-form .pas-nav-center {
	overflow: hidden;
}

#pas-mini-form .pas-nav-center .pas-search-field {
  position: relative;
  height: 35px;
  background: #fff;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #cdcdcd;
}


#pas-mini-form .pas-nav-center #pas-input {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  line-height: 34px;
  padding: 0px 34px 0px 0;
  margin: 0;
  border: 0;
  border-radius: 0px;
  height: 33px;
  font-family: arial,sans-serif;
  font-size: 15px;
  background: 0 0;
  color: #111;
  outline: 0;
  -webkit-appearance: none;
  box-shadow: none;
  text-indent: 8px;
  border-left: 1px solid #cdcdcd;
}

#pas-mini-form .pas-nav-center .pas-loader {
	position: absolute;
	right: 6px;
	top: 50%;
	margin-top: -11px;
	visibility: hidden;
}

/*=== tooltip ===*/
#pas-mini-form #pas-tooltip {
	position: absolute;
	width: 100%;
	border: 1px solid #cdcdcd;
	border-top: 0px;
	-webkit-box-shadow: 0 1px 3px 0 #E8E8E8;
	-moz-box-shadow: 0 1px 3px 0 #E8E8E8;
	box-shadow: 0 1px 3px 0 #E8E8E8;
	z-index: 5000;
	background-color: #fff;
	padding: 0;
	display: none;
}
	#pas-mini-form.pas-active #pas-tooltip {
		display: block;
	}

	#pas-mini-form #pas-tooltip .psearch-tips {
		font-weight: bold;
		color: #CA4747!important;
	}

	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item {
		border-top: 1px solid #E8E8E8;
		padding: 0px;
		position: relative;
		/* min-height: 50px; */
	}

	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item.no-photo.no-rating.no-description {
		min-height: 0;
	}

	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item:hover {
		background-color: #FAFAFA;
	}

	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item:before,
	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item:after {
		clear: both;
		display: block;
		content: "";
	}
	
	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item:first-child {
		border: 0px;
	}

	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item > a {
		display: block;
		text-decoration: none;
		padding: 10px 8px;
	}

	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item .pac-tooltip-image {
		width: 50px;
		height: 50px;
		float: left;
		overflow: hidden;
		border: 1px solid #E5E5E5;
	}

	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item .pac-tooltip-image img {
		width: 100%;
	}

	/* no photo */
	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item.no-photo .pac-tooltip-descr { padding-left: 0;}
	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item.no-photo .pac-tooltip-image { display: none; }

	/* no price no rating */
	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item.no-price.no-rating .pac-tooltip-descr { padding-right: 0;}
	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item.no-price.no-rating .pac-tooltip-price-block { display: none; }
	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item.no-price.no-rating .pac-tooltip-descr {margin-right: 0 }
	
	/* no price */
	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item.no-price .pac-price-val { display: none; }

	/* no rating */
	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item.no-rating .pac-tooltip-price-block { font-size: 0; }
	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item.no-rating .pac-rating-box { display: none; }

	/* no description */
	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item.no-description .pac-tooltip-short-des { display: none; }

	/* no description */
	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item.no-description .pac-tooltip-short-des { display: none; }
	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item.no-photo.no-description.no-rating .pac-tooltip-name { margin-top: 0px; } 
	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item.no-photo.no-description .pac-tooltip-name { margin-top: 0px; }
	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item.no-description .pac-tooltip-name { margin-top: 15px; }
	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item.no-description.no-photo.no-price .pac-tooltip-name { margin-top: 0px; } 


	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item .pac-tooltip-descr {
		padding: 0 0 0 55px;
		text-align: left;
		margin-right: 100px;
	}

		#pas-mini-form #pas-tooltip .pas-tooltip-pr-item .pac-tooltip-descr .pac-tooltip-name {
			color: #2e8ab8;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			font-size: 14px;
			line-height: 16px;
		}

		#pas-mini-form #pas-tooltip .pas-tooltip-pr-item .pac-tooltip-descr .pac-tooltip-name:hover {
			text-decoration: underline;
		}

		#pas-mini-form #pas-tooltip .pas-tooltip-pr-item .pac-tooltip-descr .pac-tooltip-short-des {
			color: #868686;
			font-size: 11px;
			line-height: 13px;
		} 

	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item .pac-tooltip-price-block {
	  float: right;
	  width: 95px;
	  font-size: 11px;
	  color: #39C;
	  margin-top: -4px;
	  text-align: right;
	}

	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item.no-rating.no-description .pac-tooltip-price-block {
		top: 13px;
	}
	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item.no-photo.no-rating.no-description .pac-tooltip-price-block {
		top: 0px;
	}


	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item .pac-tooltip-price-block .pac-price-val {
		color: #2e8ab8;
		font-size: 14px;
		font-weight: 700;
		line-height: 21px;
	}

	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item .pac-tooltip-price-block .pac-price-val .price-box {
		margin: 0;
		max-height: 35px;
	}
	
	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item .pac-tooltip-price-block.no-photo .pac-price-val .price-box {
		margin: 0;
	}
	
	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item .pac-tooltip-price-block .pac-price-val .price-box * {
		font-size: 13px;
	}

	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item.no-rating .pac-tooltip-price-block .pac-price-val .price-box {
		margin-top: 10px;
	} 

	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item.no-rating .pac-tooltip-price-block .pac-price-val .price-box .special-price {
		margin-top: 7px;
	}

	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item.no-rating .pac-tooltip-price-block .pac-price-val .price-box .minimal-price {
		position: relative;
		top: 7px;
	}

	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item.no-photo.no-description .pac-tooltip-price-block .pac-price-val .price-box { 
		top: 0; 
		margin: 0;
		max-height: 35px;
	}

	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item .pac-tooltip-price-block .pac-price-val .price-label {
		display: none;
	}

	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item .pac-tooltip-price-block p {
		padding: 0;
	}

	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item .pac-tooltip-price-block p.price-to {
		margin-top: -7px;
	}

	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item .pac-tooltip-price-block p.old-price {
		display: none;
	}

	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item .pac-tooltip-price-block p.price-to span,
	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item .pac-tooltip-price-block p.price-from span,
	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item .pac-tooltip-price-block p.old-price span,
	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item .pac-tooltip-price-block p.special-price span {
		font-size: 14px;
	}

	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item .pac-tooltip-price-block .pac-rating-box {
		width: 65px;
		height: 13px;
		background-repeat: repeat-x;
		background-position: 0 -18px;
		overflow: hidden;
		background-image: url(../../../images/plumrocket/psearch/icon_sprite.png);
		margin-top: 2px;
		margin-right: 3px;
		float: left;
		white-space: nowrap;
	}
	
	#pas-mini-form #pas-tooltip .pas-tooltip-pr-item .pac-tooltip-price-block .pac-rating-box .pac-rating {
		float: left;
		height: 13px;
		background-repeat: repeat-x;
		background-position: 0 -2px;
		background-image: url(../../../images/plumrocket/psearch/icon_sprite.png);
	}

	/* categories */
	#pas-mini-form #pas-tooltip #pac-psearch-categories {
		border-top: 1px solid #cdcdcd;
  		padding: 5px 0;
  		text-align: left;
  		font-size: 12px;
	}

	#pas-mini-form #pas-tooltip #pac-psearch-categories .pac-ps-category {
		margin: 0;
	}

	#pas-mini-form #pas-tooltip #pac-psearch-categories .pac-ps-category a {
		display: block;
		padding: 3px 8px;
		text-decoration: none;
		color: #636363;
	}
	
	#pas-mini-form #pas-tooltip #pac-psearch-categories .pac-ps-category a span {
		text-decoration: underline;
		color: #3399cc;
	}
	#pas-mini-form #pas-tooltip #pac-psearch-categories .pac-ps-category a:hover span {
		text-decoration: none;
	}

	/* terms */
	#pas-mini-form #pas-tooltip #pac-psearch-terms {
		border-top: 1px solid #cdcdcd;
  		padding: 10px 8px;
  		text-align: left;
  		font-size: 12px;
	}

	#pas-mini-form #pas-tooltip #pac-psearch-terms a {
		display: block;
		text-decoration: none;
		color: #636363;
	}

	#pas-mini-form #pas-tooltip #pac-psearch-terms a span {
		color: #3399cc;
		text-decoration: underline;
	}

	#pas-mini-form #pas-tooltip #pac-psearch-terms a:hover span {
		text-decoration: none;
	}

	/* all results */
	#pas-mini-form #pac-psearch-all-results {
		color: black;
		border-top: 1px solid #cdcdcd;
  		text-align: center;
  		font-size: 13px;
	}

	#pas-mini-form #pac-psearch-all-results a {
		display: block;
		color: #1e7ec8;
		padding: 10px 8px;
	}

	#pas-mini-form #pac-psearch-all-results span {
		position: relative;
		padding-right: 12px;
	}

	#pas-mini-form #pac-psearch-all-results span:before {
		content: "";
		display: block;
		position: absolute;
		right: 0;
		border-style: solid;
		border-color: transparent transparent transparent #2e8ab8;
		border-width: 7px 0 7px 9px;
		top: 2px;
	}

	#pas-mini-form #pac-psearch-all-results span:after {
		content: "";
		display: block;
		position: absolute;
		right: 3px;
		border-style: solid;
		border-color: transparent transparent transparent #fff;
		border-width: 7px 0 7px 9px;
		top: 2px;
	}


	#pas-mini-form #pac-psearch-all-results p.pac-no-results {padding: 8px 0; color: #B5B5B5;}




/*RWD*/
@media only screen and (min-width: 771px){
	#header-search {width: 40%!important;}
}


@media only screen and (max-width: 768px) {
	#pas-mini-form { max-width: 100%; }
}