<?xml version="1.0"?>
<config>
    <global>
        <modules>
            <TV_Ilearn>
                <version>0.1.0</version>
            </TV_Ilearn>
        </modules>
        <blocks>
            <ilearn>
                <rewrite>
                    <ilearn>TV_Ilearn_Block_Ilearn</ilearn>
                </rewrite>
            </ilearn>
            <ilearn>
                <rewrite>
                    <addblock>TV_Ilearn_Block_Addblock</addblock>
                </rewrite>
            </ilearn>
        </blocks>
        <models>
            <sitemap>
                <rewrite>
                    <sitemap>TV_Ilearn_Model_Sitemap</sitemap>
                </rewrite>
            </sitemap>
        </models>
    </global>
    <frontend>
        <routers>
            <ilearn>
                <use>standard</use>
                <args>
                    <module>TV_Ilearn</module>
                    <frontName>ilearn</frontName>
                </args>
            </ilearn>
        </routers>

        <layout>
            <updates>
                <ilearn>
                    <file>ilearn.xml</file>
                </ilearn>
            </updates>
        </layout>
    </frontend>
</config>
