<?xml version="1.0"?>
<config>
    <modules>
        <Plumrocket_Search>
            <version>1.1.1</version>
        </Plumrocket_Search>
    </modules>
    <frontend>
        <routers>
            <psearch>
                <use>standard</use>
                <args>
                    <module>Plumrocket_Search</module>
                    <frontName>psearch</frontName>
                </args>
            </psearch>
        </routers>
        <layout>
            <updates>
                <psearch>
                    <file>psearch.xml</file>
                </psearch>
            </updates>
        </layout>
        <translate>
            <modules>
                <Plumrocket_Search>
                    <files>
                        <default>Plumrocket_Search.csv</default>
                    </files>
                </Plumrocket_Search>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <psearch>
                    <file>psearch.xml</file>
                </psearch>
            </updates>
        </layout>
        <translate>
            <modules>
                <Plumrocket_Search>
                    <files>
                        <default>Plumrocket_Search.csv</default>
                    </files>
                </Plumrocket_Search>
            </modules>
        </translate>
        <events>
            <admin_system_config_section_save_after>
                <observers>
                    <psearch_observer>
                        <type>singleton</type>
                        <class>psearch/observer</class>
                        <method>adminSystemConfigSectionSaveAfter</method>
                    </psearch_observer>
                </observers>
            </admin_system_config_section_save_after>
        </events>
    </adminhtml>
    <global>
        <models>
            <psearch>
                <class>Plumrocket_Search_Model</class>
                <resourceModel>psearch_resource</resourceModel>
            </psearch>
            <psearch_resource>
                <class>Plumrocket_Search_Model_Resource</class>
                <entities>
                    <fulltext>
                        <table>plumrocket_search_fulltext</table>
                    </fulltext>
                </entities>
            </psearch_resource>
            <catalogsearch_resource>
                <rewrite>
                    <fulltext>Plumrocket_Search_Model_Resource_CatalogSearch_Fulltext</fulltext>
                </rewrite>
            </catalogsearch_resource>
            <catalogsearch>
                <rewrite>
                    <mysql4_fulltext>Plumrocket_Search_Model_Mysql4_CatalogSearch_Fulltext</mysql4_fulltext>
                </rewrite>
            </catalogsearch>
        </models>
        <helpers>
            <psearch>
                <class>Plumrocket_Search_Helper</class>
            </psearch>
        </helpers>
        <blocks>
            <psearch>
                <class>Plumrocket_Search_Block</class>
            </psearch>
        </blocks>
        <resources>
            <psearch_setup>
                <setup>
                    <module>Plumrocket_Search</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </psearch_setup>
            <psearch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </psearch_write>
            <psearch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </psearch_read>
        </resources>
    </global>
    <default>
        <psearch>
            <search>
                <search_by_tags>0</search_by_tags>
                <filter_categories_enable>1</filter_categories_enable>
                <filter_categories_exclude></filter_categories_exclude>
                <query_delay>600</query_delay>
                <like_separator>and</like_separator>
            </search>
            <product_suggestion>
                <enable>1</enable>
                <count>5</count>
                <thumbs_show>1</thumbs_show>
                <price_show>1</price_show>
                <rating_show>1</rating_show>
                <short_description_show>1</short_description_show>
                <short_description_lenght>80</short_description_lenght>
            </product_suggestion>
            <keyword_suggestion>
                <category_enable>1</category_enable>
                <category_count>5</category_count>
                <terms_enable>1</terms_enable>
                <terms_count>5</terms_count>
            </keyword_suggestion>
        </psearch>
    </default>
</config> 