<?xml version="1.0" ?>
<config>
    <modules>
        <TM_ReviewReminder>
            <version>1.0.1</version>
        </TM_ReviewReminder>
    </modules>
    <global>
        <blocks>
            <reviewreminder>
                <class>TM_ReviewReminder_Block</class>
            </reviewreminder>
        </blocks>
        <models>
            <tm_reviewreminder>
                <class>TM_ReviewReminder_Model</class>
                <resourceModel>tm_reviewreminder_resource</resourceModel>
            </tm_reviewreminder>
            <tm_reviewreminder_resource>
                <class>TM_ReviewReminder_Model_Resource</class>
                <entities>
                    <entity>
                        <table>tm_reviewreminder_entity</table>
                    </entity>
                    <entity_store>
                        <table>tm_reviewreminder_entity_store</table>
                    </entity_store>
                </entities>
            </tm_reviewreminder_resource>
        </models>
        <resources>
            <tm_reviewreminder_setup>
                <setup>
                    <module>TM_ReviewReminder</module>
                </setup>
            </tm_reviewreminder_setup>
        </resources>
        <helpers>
            <tm_reviewreminder>
                <class>TM_ReviewReminder_Helper</class>
            </tm_reviewreminder>
        </helpers>
        <template>
            <email>
                <tm_reviewreminder_email_email_template translate="label" module="tm_reviewreminder">
                    <label>Review Reminder</label>
                    <file>tm/review_reminder/customer.html</file>
                    <type>html</type>
                </tm_reviewreminder_email_email_template>
            </email>
        </template>
        <events>
            <sales_order_save_after>
                <observers>
                    <tm_reviewreminder>
                        <class>tm_reviewreminder/observer</class>
                        <method>orderSaved</method>
                    </tm_reviewreminder>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <tm_reviewreminder before="Mage_Adminhtml">TM_ReviewReminder_Adminhtml</tm_reviewreminder>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <TM_ReviewReminder>
                    <files>
                        <default>TM_ReviewReminder.csv</default>
                    </files>
                </TM_ReviewReminder>
            </modules>
        </translate>
        <layout>
            <updates>
                <tm_reviewreminder module="tm_reviewreminder">
                    <file>tm/reviewreminder.xml</file>
                </tm_reviewreminder>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <tm_reviewreminder>
            <general>
                <enabled>0</enabled>
                <emails_per_cron>10</emails_per_cron>
                <default_status>5</default_status>
            </general>
            <email>
                <send_from>0</send_from>
                <email_subject>Please rate product you bought</email_subject>
                <email_template>tm_reviewreminder_email_email_template</email_template>
                <send_after>7</send_after>
                <allow_specific_order>1</allow_specific_order>
                <specific_order>complete</specific_order>
            </email>
            <initial_indexing>
                <from_date_type>1</from_date_type>
                <from_date>2015-01-01</from_date>
                <store_view>0</store_view>
            </initial_indexing>
        </tm_reviewreminder>
    </default>
    <crontab>
        <jobs>
            <tm_reviewreminder_send_emails>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>tm_reviewreminder/observer::sendEmails</model>
                </run>
            </tm_reviewreminder_send_emails>
        </jobs>
    </crontab>
</config>