#pas-mini-form * {
  font-family: Arial, Helvetica, sans-serif;
}

/* button */
#pas-mini-form .pas-nav-right .pas-button {
  background-color: #333333;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
  -moz-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
  -webkit-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
  -o-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}

#pas-mini-form .pas-nav-right .pas-button:hover {
  background: #5bd2ec;
}


/* pas-tooltip */
#pas-mini-form #pas-tooltip .pas-tooltip-pr-item .pac-tooltip-descr .pac-tooltip-name {
  color: #333333;
  font-family: "Bitter", georgia, serif;
}

#pas-mini-form #pas-tooltip .pas-tooltip-pr-item .pac-tooltip-price-block .pac-rating-box .pac-rating {
  background-image: url(../../../images/plumrocket/psearch/icon_sprite.png);
}

#pas-mini-form #pas-tooltip .pas-tooltip-pr-item .pac-tooltip-price-block {
  color: #333333;
}

#pas-mini-form #pac-psearch-all-results a {
  color: #333333;
  text-decoration: none;
}

#pas-mini-form #pac-psearch-all-results a:hover {
  color: #3ec2df;
}

#pas-mini-form #pas-tooltip #pac-psearch-categories .pac-ps-category a span {
  color: #333333;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  
}

#pas-mini-form #pas-tooltip #pac-psearch-categories .pac-ps-category a:hover span {
  color: #3ec2df;
}

#pas-mini-form #pas-tooltip .pas-tooltip-pr-item .pac-tooltip-price-block .pac-price-val {
  font-weight: 400;
}

#pas-mini-form #pac-psearch-all-results span:before {
  border-color: transparent transparent transparent #333333;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#pas-mini-form #pac-psearch-all-results a:hover span:before {
  border-color: transparent transparent transparent #3ec2df;
}
