<?xml version="1.0" ?>
<config>
	<modules>
		<IWD_StoreLocatori>
			<version>1.6.7</version>
		</IWD_StoreLocatori>
	</modules>
	
	
	<admin>
		<routers>
			<storelocatori>
				<use>admin</use>
				<args>
					<module>IWD_StoreLocatori</module>
					<frontName>slocator</frontName>
				</args>
			</storelocatori>
		</routers>
	</admin>

	<adminhtml>

		<layout>
			<updates>
				<storelocatori>
					<file>storelocatori.xml</file>
				</storelocatori>
			</updates>
		</layout>
		 <translate>
            <modules>
                <storelocatori>
                    <files>
                        <default>IWD_StoreLocatori.csv</default>
                    </files>
                </storelocatori>
            </modules>
        </translate>
		
	</adminhtml>
	
	<frontend>
		
		<layout>
			<updates>
				<storelocatori>
					<file>storelocatori.xml</file>
				</storelocatori>
			</updates>
		</layout>
		<translate>
            <modules>
                <storelocatori>
                    <files>
                        <default>IWD_StoreLocatori.csv</default>
                    </files>
                </storelocatori>
            </modules>
        </translate>
	</frontend>
	
	<global>
	
		<helpers>
			<storelocatori>
				<class>IWD_StoreLocatori_Helper</class>
			</storelocatori>
		</helpers>

		<blocks>
			<storelocatori>
				<class>IWD_StoreLocatori_Block</class>
			</storelocatori>
			<page>
                <rewrite>
                    <html_head>IWD_StoreLocatori_Block_Page_Html_Head</html_head>
                </rewrite>
            </page>     
		</blocks>
		
		<models>
			<storelocatori>
				<class>IWD_StoreLocatori_Model</class>
				<resourceModel>storelocatori_resource</resourceModel>
			</storelocatori>
			<storelocatori_resource>
				<class>IWD_StoreLocatori_Model_Resource</class>
				<entities>
                	<stores>
                    	<table>iwd_storelocator</table>
                	</stores>
                	<store>
                    	<table>iwd_storelocator_store</table>
                	</store>
                	
            	</entities>
        	</storelocatori_resource>
		</models>
		
		<resources>
			<iwd_storelocatori_setup>
				<setup>
					<module>IWD_StoreLocatori</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</iwd_storelocatori_setup>

			<storelocatori_write>
				<connection>
					<use>core_write</use>
				</connection>
			</storelocatori_write>

			<storelocatori_read>
				<connection>
					<use>core_read</use>
				</connection>
			</storelocatori_read>
		</resources>
		
		<events>
            <controller_front_init_routers>
                <observers>
                    <storelocatori>
                        <class>IWD_StoreLocatori_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </storelocatori>
                </observers>
            </controller_front_init_routers>
        </events>
	</global>
	
	<default>
		<web>
	     	<routers>
	        	<storelocatori_router>
	            	<area>frontend</area>
	            	<class>IWD_StoreLocatori_Controller_Router</class>
		        </storelocatori_router>
	    </routers>
	   </web>
   
		<storelocatori>
			<gmaps>
				<radius>25</radius>
			</gmaps>
		</storelocatori>
		
		<storelocatori>
			<gmaps>
				<radiuslist>1;2;3;4;5;10;15;25</radiuslist>
			</gmaps>
		</storelocatori>
		
		<storelocatori>
			<gmaps>
				<metric>1</metric>
				<zoom>8</zoom>
				
				<scrollwhell_zooming>1</scrollwhell_zooming>
				<map_type_control>0</map_type_control>
				<scale_control>1</scale_control>
			</gmaps>
		</storelocatori>
		
		<storelocatori>
			<global>
				<nfoundmessage>Sorry, no store were found near this location. Please try your search again. </nfoundmessage>
				<pagetitle>Store Locator</pagetitle>
				<route>dealers</route>
				<limit_result>20</limit_result>
				<pagination>1</pagination>
				<hide_radius>0</hide_radius>
				<show_toplink>1</show_toplink>
				<hide_placeholder>0</hide_placeholder>
			</global>
			<search>
				<bar>1</bar>
				<result>0</result>
				<geolocation>1</geolocation>
			</search>
		</storelocatori>
		
	
	</default>
</config>