<?xml version="1.0"?>
<config>
  <modules>
    <TV_Doctormail>
      <version>0.1.0</version>
    </TV_Doctormail>
  </modules>
  <global>
    <helpers>
      <doctormail>
        <class>TV_Doctormail_Helper</class>
      </doctormail>
    </helpers>
	<models>
	  <doctormail>
		<class>TV_Doctormail_Model</class>
		<resourceModel>doctormail_mysql4</resourceModel>
	  </doctormail>
	</models>
	<resources>
	  <customerattribute1436836102_setup>
		<setup>
		  <module>TV_Doctormail</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1436836102_setup>
	  <customerattribute1436836102_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1436836102_write>
	  <customerattribute1436836102_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1436836102_read>
	</resources>
  </global>
</config> 