<?xml version="1.0"?>
<config>
    <global>
	<modules>
	    <TV_Webformpopup>
		<version>0.1.0</version>
	    </TV_Webformpopup>
	</modules>
	<blocks>
	    <webformpopup>
		<rewrite>
		    <webformpopup>TV_Webformpopup_Block_Ilearn</webformpopup>
		</rewrite>
	    </webformpopup>
	</blocks>
	<helpers>
            <webformpopup>
                <class>TV_Webformpopup_Helper</class>
            </webformpopup>
        </helpers>
    </global>
    <frontend>
	<routers>
	    <webformpopup>
		<use>standard</use>
		<args>
		    <module>TV_Webformpopup</module>
		    <frontName>webformpopup</frontName>
		</args>
	    </webformpopup>
	</routers>

	<layout>
	    <updates>
		<webformpopup>
		    <file>webformpopup.xml</file>
		</webformpopup>
	    </updates>
	</layout>
    </frontend>
    <adminhtml>
	<acl>
	    <resources>
		<all>
		    <title>Allow Everything</title>
		</all>
		<admin>
		    <children>
			<system>
			    <children>
				<config>
				    <children>
					<TVWebformpopup>
					    <title>TVWebformpopup</title>
					</TVWebformpopup>
				    </children>                                    
				</config>
			    </children>
			</system>
		    </children>
		</admin>
	    </resources>
	</acl>
    </adminhtml>
</config>