.nav-accordion { width: 100%; }
ul.nav-accordion {
    line-height: 0.5em;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.nav-accordion li {
    background: none;
    position: relative;
}

ul.nav-accordion li a {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 36px;
    margin: 0;
    padding: 0 26px 0 24px;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    color: #333;
    position: relative;
    letter-spacing: 0.025em;
    border-bottom: #eeeeee solid 1px;
}
ul.nav-accordion li.active a{
    color: #cd955a;
}
ul.nav-accordion li.level0.last a {
    border-bottom: none;
}
.nav-mobile-accordion li a:before {
    display: none;
}
ul.nav-accordion li a:before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background: #fff;
    left: 0;
    top: 14px;
    border: #dedede solid 1px;
}
ul.nav-accordion li a:hover:before,
ul.nav-accordion li.active a:before,
ul.nav-accordion li.active ul li a:hover:before {
    background: #181818;
    border: #181818 solid 1px;
}
ul.nav-accordion li.active ul li a:before {
	background: #fff;
	border: #dedede solid 1px;
}
ul.nav-accordion ul {
    display: none;
    margin: 0;
    padding: 0;
}
ul.nav-accordion ul li {
    clear: both;
    margin: 0;
    padding: 0;
}
ul.nav-accordion ul li a {
    font-size: 12px;
    outline: none;
    padding-left: 40px;
}
ul.nav-accordion li a:hover {
    color: #cd955a;
}
ul.nav-accordion li ul li a:hover,
ul.nav-accordion li.active ul li a:hover{ color: #cd955a; }
ul.nav-accordion li.active ul li a{ color: #333; }
ul.nav-accordion ul li.active a{ color: #cd955a; }
ul.nav-accordion ul ul li a {
    font-size: 90%;
    padding-left: 55px;
}
ul.nav-accordion ul ul ul li a { padding-left: 30px; }
ul.nav-accordion ul ul li a:hover {  }

ul.nav-accordion li span.expand {
    background-color: transparent;
    background-position: 1px -43px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 20px;
    position: absolute;
    text-indent: -9999px;
    top: 7px;
    width: 20px;
    z-index: 1;
    right: 0;
}
ul.nav-accordion li span.collapse {
    background-color: transparent;
    background-position: 1px -29px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 20px;
    position: absolute;
    text-indent: -9999px;
    top: 7px;
    width: 20px;
    z-index: 1;
    right: 0;
}
ul.detail-parent {
    margin: 0px;
    padding: 0 0 0 17px;
}
.navbar .btn-navbar {
    background-image: none !important;
    border-radius: 2px 2px 2px 2px;
    box-shadow: none !important;
    float: left !important;
    margin: 9px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.navbar .brand {
    font-size: 130% !important;
    font-weight: bold !important;
    margin: 0 !important;
    padding-left: 20px !important;
    text-shadow: none !important;
    text-transform: uppercase !important;
}
.navbar .btn-navbar .icon-bar { background-color: #FFFFFF !important; }
ul.nav-accordion li.level0 > a > span > .cat-label {
    position: inherit;
}
ul.nav-accordion li.level0 > a > span > .pin-bottom:before {
    position: inherit;
    right: 6px;
    top: 22px;
    width: 0;
    height: 0;
    content: "";
    border-style: solid;
    border-width: 0px;
}
ul.nav-accordion li span.expand {
    background-image: url(../images/arrow.png);
}
ul.nav-accordion li span.collapse {
    background-image: url(../images/arrow.png);
}
/**END STYLE DRILLMENU**/