<?xml version="1.0"?>
<config>
    <modules>
	<TV_Captchawebform>
	    <version>0.1.0</version>
	</TV_Captchawebform>
    </modules>
    <global>
	<models>
	    <captchawebform>
		<class>TV_Captchawebform_Model</class>
		<resourceModel>mageme_captchawebform_resource</resourceModel>
	    </captchawebform>
	</models>
	<helpers>
	    <captchawebform>
		<class>TV_Captchawebform_Helper</class>
	    </captchawebform>
	</helpers>
	<blocks>
	    <captchawebform>
		<class>TV_Captchawebform_Block</class>
	    </captchawebform>
	</blocks>
	<events>
	    <webforms_fields_types>
		<observers>
		    <captchawebform>
			<class>TV_Captchawebform_Model_Observer</class>
			<method>webformsFieldsTypes</method>
			<type>singleton</type>
		    </captchawebform>
		</observers>
	    </webforms_fields_types>
	    <webforms_fields_tohtml_html>
		<observers>
		    <captchawebform>
			<class>TV_Captchawebform_Model_Observer</class>
			<method>webformsFieldsTohtmlHtml</method>
			<type>singleton</type>
		    </captchawebform>
		</observers>
	    </webforms_fields_tohtml_html>
	    <webforms_block_adminhtml_results_grid_prepare_columns_config>
		<observers>
		    <captchawebform>
			<class>TV_Captchawebform_Model_Observer</class>
			<method>webformsBlockAdminhtmlResultsGridPrepareColumnsConfig</method>
			<type>singleton</type>
		    </captchawebform>
		</observers>
	    </webforms_block_adminhtml_results_grid_prepare_columns_config>
	    <webforms_block_adminhtml_results_edit_form_prepare_layout_field>
		<observers>
		    <captchawebform>
			<class>TV_Captchawebform_Model_Observer</class>
			<method>webformsBlockAdminhtmlResultsEditFormPrepareLayoutField</method>
			<type>singleton</type>
		    </captchawebform>
		</observers>
	    </webforms_block_adminhtml_results_edit_form_prepare_layout_field>
	    <webforms_results_tohtml_value>
		<observers>
		    <captchawebform>
			<class>TV_Captchawebform_Model_Observer</class>
			<method>webformsResultsTohtmlValue</method>
			<type>singleton</type>
		    </captchawebform>
		</observers>
	    </webforms_results_tohtml_value>
	    <webforms_result_submit>
		<observers>
		    <webformsreviews_result_submit_observer>
			<type>singleton</type>
			<class>TV_Captchawebform_Model_Observer</class>
			<method>postWebForm</method>
		    </webformsreviews_result_submit_observer>
		</observers>
	    </webforms_result_submit>
	</events>
    </global>
</config>